Connected Services/ServiceReference/RESTfulTransactionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseData" nillable="true" type="tns:ResponseData" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element name="AccountNumber" type="xs:int" />
      <xs:element name="Amount" type="xs:decimal" />
      <xs:element name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ResponseBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBalance" nillable="true" type="tns:ResponseBalance" />
</xs:schema>